---
layout: default
---

<main class="subpage">

    <h1>Nyheter</h1>

    {% for post in site.posts | limit: 1 %}
        <div>
                <p>Stor nyhet</p>
                <h2>{{ post.title }}</h2>
                <p>{{ post.excerpt }}</p>
                <a class="button" href="{{ post.url }}">Les mer</a>
        </div>
    {% endfor %}

    {% for post in site.posts | offset: 2 %}
        <div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.excerpt }}</p>
                <a class="button" href="{{ post.url }}">Les mer</a>
        </div>
    {% endfor %}




</main>
