<header>

    <object id="logo" type="image/svg+xml" data="/img/afk-logo.svg" style="margin-right: 20px;"></object>

    <div id="logo-text-wrapper">
        <object id="logo-text" type="image/svg+xml" data="/img/afk-logo-text.svg"></object>
    </div>

    <!-- <h1>Askøy Fotballklubb</h1> -->

    <button>Meny</button>

    <script>
        [].pop.call(document.getElementsByTagName('button')).addEventListener('click', function() {
            document.body.classList.toggle('menu-visible');
        });
    </script>

</header>

<nav>
    <ul>
        <li><a href="/klubben/">Klubben</a></li>
        <li><a href="/lag/">Lag</a></li>
        <li><a href="/baner/">Baner</a></li>
        <li><a href="#">Kampkalender</a></li>
        <li><a href="/arrangement/">Arrangement</a></li>
        <li><a href="#">Kontakt oss</a></li>

    </ul>
</nav>
