<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} - {% endif %}Askøy Fotballklubb</title>
    <meta name="description" content="Askøy Fotballklubb - en positiv opplevelse">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="0Jb5l0v52rQ26lswsdB3lx8nzS735sBY5-bk61rLXyE" />
    <script src="/script/browserupgrade.js"></script>

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/node_modules/afk-assets/css/main.css">

    {% assign segments = page.url | split: '/' %}
    {% if segments[1] == 'index.html' or segments[1] == 'index-ny.html' %}
    <link rel="stylesheet" href="/node_modules/afk-assets/css/frontpage-only.css">
    {% endif %}

    <style>


        .teams h1, .teams p {
            margin-left: 30px;
            margin-right: 30px;
        }




    </style>

    <script>
        console.log('{{ segments | jsonify }}')
    </script>

    <script src="/bower_components/es6-promise/promise.min.js"></script>
    <script src="/lib/document-register-element.js"></script>
    <script src="/football-elements/dist/football-panel.js"></script>
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://www.google.com/fonts#UsePlace:use/Collection:Lato:300,400,700' rel='stylesheet' type='text/css'>

  <!--     <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> -->
<!--     <link rel="stylesheet" href="/css/main.css">
 -->

</head>
