/**
*
* Plakat forsiden
*
**/

.plakat {
    background: url(/images/stock/plakat-bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
    text-shadow: 0 0 6px rgba(0,0,0,.8);
}
