html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    @include wide {
        overflow: auto;
    }
}

.main-header {
    padding: 20px 30px;
    background-color: nth($paletteRed, 10);
    position: fixed;

    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    @extend .clear;
    h1 {
        font-size: 1em;
        text-indent: -9000px;
        float: left;
    }
}

.menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
}

main {
    background: orange;
    position: absolute;

    box-sizing: border-box;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include wide {
        position: static;
    }
}

main, .main-header {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.show-menu  {
    main, .main-header {

        transform: translate(220px, 0);
        -webkit-transform: translate(220px, 0);

        @include wide {
            transform: translate(0, 0);
            -webkit-transform: translate(0, 0);
        }
    }



}


.main-nav {
    @extend .clear;
    position: fixed;
    /* position: absolute; */
    top: 0; left: 0;
    width: 220px;

/*     top: 69px; right: 0; bottom: 0; left: 0;
 */

    @include wide {
        width: auto;
        left: auto;
        top: 20px;
        right: 20px;
        z-index: 2;
    }

    ul {
        background: lime;
        padding: 0;
        @include wide {
            float: right;
        }

    }
    li {
        @include wide {
            display: inline-block;
        }
        color: white;
        &::before {
            content: ""
        }
        a {
            color: white;
        }
    }
}
