---
layout: default
---

<main class="teams">



    <h1 class="post-title">{{ page.title }}</h1>

        {% assign segments = page.url | split: '/' %}
        {% assign category = segments[2] %}

        {% assign barn = (site.lag | where: 'category', 'barn' | sort: 'age') %}
        {% assign ungdom = (site.lag | where: 'category', 'ungdom' | sort: 'age') %}
        {% assign senior = (site.lag | where: 'category', 'senior') %}
        {% assign stjerne = (site.lag | where: 'category', 'stjerne') %}

        {% if category != null %}
            {% assign current = (site.lag | where: 'category', category | sort: 'age' ) %}
        {% endif %}

        {{ content }}


    <ul class="boxes">
        {% for lag in current %}
        <li class="box"><a href="/lag/{{ category }}/{{ lag.slug }}">{{ lag.title }}

            {% if category == 'barn' or category == 'ungdom' %}

            ({{ lag.sex }} {{ lag.age }} år)

            {% endif %}

        </a></li>
        {% endfor %}
    </ul>




</main>
