---
layout: default
---

{% assign teams = page.teams %}
{% assign teamnames = teams | map: 'name' %}

<script>
    console.log('teamnames:', '{{ teamnames | jsonify }}');
</script>

<main class="subpage">
    <h1>{{ page.title }}</h1>
    {% unless page.title == 'A' or page.title == 'Stjerne' %}
    <p>{{ page.title }} består av {{ page.sex }} {% if page.title == 'Veteran' %}over {% else %}på {% endif %}{{ page.age }} år.
    {% if teams.size > 1 %}Laget er delt i {{ teams.size }} underlag: {{ teamnames | array_to_sentence_string | replace: 'and', 'og' }}.</p>{% endif %}
    {% endunless %}






    {% for team in teams %}

        {% assign contacts = site.data.contacts | where: 'navn', team.kontaktperson %}

        {% if teams.size > 1 %}
            <h2>{{ team.name }}</h2>
        {% endif %}

        {% for contact in contacts %}
            <p>Kontaktperson: {{ contact.navn }}, {{ contact.telefon }}</p>

        {% endfor %}


        {% unless team.fiksid == null %}
            <p>Laget er i fiksdatabasen med id-en {{ team.fiksid }}, kampoppsett etc. kommer her.</p>
            <football-panel operation="teams" route="matches" key="{{team.fiksid}}"></football-panel>
        {% endunless %}

    {% endfor %}



</main>
