---
layout: default
---

{% assign teams = page.teams %}
{% assign teamnames = teams | map: 'name' %}

<script>
    console.log('teamnames:', '{{ teamnames | jsonify }}');
</script>

<main class="subpage">
    <h1>{{ page.title }}</h1>







    {% for team in teams %}

        {% assign contacts = site.data.contacts | where: 'navn', team.kontaktperson %}

        {% if teams.size > 0 %}
            <h2>{{ team.name }}</h2>
            <p>Kontaktperson: {{ team.kontaktperson }}</p>
        {% endif %}




    {% endfor %}



</main>
